In [1]:
import pandas as pd
#reading a csv file and assigning it to a variable 
df=pd.read_csv("C:\\Users\\asus\\OneDrive\\Desktop\\Python@ms\\data_sets\\ex1.csv") #add double backward slashes or
#single forward
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [2]:
type(df)

pandas.core.frame.DataFrame

In [3]:
#header=None to remove default header
df=pd.read_csv("C:\\Users\\asus\\OneDrive\\Desktop\\Python@ms\\data_sets\\ex1.csv",header=None)
df

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [4]:
#names=[ ] to chnage default header
df=pd.read_csv("C:\\Users\\asus\\OneDrive\\Desktop\\Python@ms\\data_sets\\ex1.csv",names=["x","y","z","aa","ab"])
df

   x   y   z  aa       ab
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [5]:
#checking shape to know how large is data (rows,cols)
df.shape

(4, 5)

In [9]:
#to extract some columns data from data frame
aa=df["aa"]
print(aa)
print(type(aa)) #a single column is a series

0     d
1     4
2     8
3    12
Name: aa, dtype: object
<class 'pandas.core.series.Series'>

In [11]:
mul=df[["aa","ab","x"]] #to get multiple cols
print(mul)
print(type(mul))

   aa       ab  x
0   d  message  a
1   4    hello  1
2   8    world  5
3  12      foo  9
<class 'pandas.core.frame.DataFrame'>

In [13]:
#alternative: to extract a column 
print(df.x)
print(type(df[["x"]]) )#data frame as 2D (2 brackets)

0    a
1    1
2    5
3    9
Name: x, dtype: object
<class 'pandas.core.frame.DataFrame'>

In [17]:
#tab separated file: pd.read_table()---reads any tabular data
data=pd.read_table("C:\\Users\\asus\\OneDrive\\Desktop\\Python@ms\\data_sets\\test.tsv")
print(data)
print("\n")
df=pd.read_table("C:\\Users\\asus\\OneDrive\\Desktop\\Python@ms\\data_sets\\ex1.csv",sep=",",header=None)
print(df) #seperator needs to be passed as comma sep data

        test   test test.1 test.2 test.3
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar


   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo